:root {
    /*------ Color ------*/
    --theme-color: #17114f;
    --theme-color-pale: #231a72;
    --text-success: #37a987;
    --text-white: #ffffff;
    --text-white-pale: #e8edf1;
    --text-dark: #333333;
    --text-dark-normal: #919090c3;
    --text-dark-pale: #f0f0f0;
    --body-color: #e6e6e6;
    --text-danger: #d21c1c;

    /*------ Z-index ------*/
    --z-fixed: 100;
}

* {
    left: 0;
    right: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    color: var(--text-dark);
}

.card {
    border: none;
    box-shadow: 0px 2px 10px var(--text-dark-normal);
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-dark-normal) !important;
    font-size: 15px !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--text-dark-normal) !important;
    font-size: 15px !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--text-dark-normal) !important;
    font-size: 15px !important;
}

.profile-image-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid var(--text-dark-normal);
    background-color: var(--text-white);
}

.profile-image-container p {
    font-weight: bold;
    font-size: 15px;
    color: var(--text-dark-normal);
    letter-spacing: 0.5px;
}

.active {
    color: var(--theme-color-pale) !important;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--text-dark-normal);
    border-radius: 20px;
    margin: 20px 0px;
}

@media screen and (max-width: 480px) {
    .divider {
        margin: 10px 0px;
    }
}

/*---------------- Sweetalert 2 ----------------*/
.swal2-popup {
    border-radius: 8px !important;
    background: var(--text-white);
    color: var(--text-dark) !important;
    font-size: 15px !important;
}

.swal2-title {
    font-size: 20px !important;
}

.swal2-styled.swal2-confirm {
    border-radius: 5px !important;
    background: initial;
    border: 1px solid var(--text-danger) !important;
    background-color: var(--text-danger) !important;
    color: var(--text-white) !important;
    font-size: 15px !important;
    padding: 10px 30px !important;
    font-weight: bold !important;
}

.swal2-styled.swal2-cancel {
    border: 1px solid var(--text-dark-normal) !important;
    border-radius: 5px !important;
    background: initial;
    background-color: var(--text-dark-pale) !important;
    color: var(--text-dark) !important;
    font-size: 15px !important;
    padding: 10px 30px !important;
    font-weight: bold !important;
}

.swal2-icon {
    width: 60px !important;
    height: 60px !important;
}

.swal2-icon .swal2-icon-content {
    font-size: 40px !important;
    font-weight: bold !important;
}

.swal2-close {
    background: var(---text-dark) !important;
    color: var(--text-dark) !important;
}
/*---------------- Auth Form ----------------*/
.auth-form h3 {
    color: var(--text-dark);
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    margin-bottom: 40px;
}

.auth-form .form-group {
    margin-bottom: 40px !important;
}

.auth-form label {
    color: var(--text-dark);
    font-size: 15px;
}

.auth-form input {
    border: none;
    border-radius: 5px;
    border: 2px solid var(--text-dark-pale);
    outline: none;
    box-shadow: none;
    padding: 20px !important;
}

.auth-form textarea {
    border: none;
    border-radius: 5px;
    border: 2px solid var(--text-dark-pale);
    outline: none;
    box-shadow: none;
}

.auth-form input:focus,
.auth-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--text-dark-pale);
    border-radius: 5px;
}

.auth-form .text-danger {
    color: var(--text-danger);
    font-size: 15px !important;
    margin-top: 15px !important;
}

.auth-form p {
    margin-top: 30px;
    color: var(--text-dark);
}

.auth-form a {
    color: var(--text-success);
    text-decoration: underline;
}

.auth-form .btn-theme {
    margin-top: 50px;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    color: var(--text-white);
    padding: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.auth-form .btn-theme:hover {
    background-color: var(--theme-color-pale);
}

.auth-form .btn-theme:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 920px) {
    .auth-form {
        margin: 20px 0px;
    }
}

.swal2-icon.swal2-error {
    border-color: var(--text-danger) !important;
    color: var(--text-danger) !important;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"][class$="left"] {
    left: 5px !important;
    transform: rotate(45deg) !important;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"][class$="right"] {
    left: 5px !important;
    transform: rotate(-45deg) !important;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
    top: 28px !important;
    width: 48px !important;
    height: 3px !important;
    background-color: var(--text-danger) !important;
}
/*---------------- Header Menu ----------------*/
.header-menu {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    box-shadow: 0px 2px 4px var(--text-dark-normal);
    background-color: var(--text-white);
    z-index: var(--z-fixed);
}

.header-menu a {
    position: relative;
    text-decoration: none;
    color: var(--text-dark);
}

.header-menu i {
    font-size: 21px;
    display: block;
    margin-top: 10px;
}

.header-menu p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*---------------- Bottom Menu ----------------*/
.bottom-menu {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: var(--text-white);
    z-index: var(--z-fixed);
}

.bottom-menu a {
    position: relative;
    text-decoration: none;
    color: var(--text-dark);
}

.bottom-menu .scanner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--body-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-menu .inner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: glow 5s infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px -8px -4px var (--theme-color);
    }
    35% {
        box-shadow: 0px 0px 8px 4px var(--theme-color);
    }
    75% {
        box-shadow: 0px 0px 8px 4px var(--theme-color);
    }
    100% {
        box-shadow: 0px 0px -8px -4px var(--theme-color);
    }
}
.inner i {
    font-size: 25px !important;
    margin-top: 0px !important;
}
.bottom-menu i {
    font-size: 21px;
    margin-top: 10px;
}

.bottom-menu p {
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--text-dark);
}

/*---------------- Main Content ----------------*/
.main-content {
    margin: 60px 0px;
}

/*---------------- Profile ----------------*/

.profile span {
    font-size: 15px;
}

.profile a {
    text-decoration: none;
    color: var(--text-dark);
}

/*---------------- Change Password ----------------*/

.change-password h6 {
    font-size: 18px;
    font-weight: bold;
    color: var(--theme-color);
}
.change-password ul {
    padding-left: 20px !important;
}

.change-password li {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.change-password h4 {
    font-weight: bold;
    color: var(--theme-color);
    font-size: 25px;
    margin-bottom: 40px;
}

/*---------------- Wallet ----------------*/
.wallet .card {
    background-image: radial-gradient(
            circle at 17% 77%,
            rgba(17, 17, 17, 0.04) 0%,
            rgba(17, 17, 17, 0.04) 50%,
            rgba(197, 197, 197, 0.04) 50%,
            rgba(197, 197, 197, 0.04) 100%
        ),
        radial-gradient(
            circle at 26% 17%,
            rgba(64, 64, 64, 0.04) 0%,
            rgba(64, 64, 64, 0.04) 50%,
            rgba(244, 244, 244, 0.04) 50%,
            rgba(244, 244, 244, 0.04) 100%
        ),
        radial-gradient(
            circle at 44% 60%,
            rgba(177, 177, 177, 0.04) 0%,
            rgba(177, 177, 177, 0.04) 50%,
            rgba(187, 187, 187, 0.04) 50%,
            rgba(187, 187, 187, 0.04) 100%
        ),
        linear-gradient(19deg, var(--theme-color-pale), var(--theme-color-pale));
    color: var(--text-white);
}

.wallet h6 {
    font-size: 16px;
}

.wallet .account-container {
    margin-top: 100px;
}

/*---------------- Home Page ----------------*/

.home #closeButton {
    display: none;
}

.home h5 {
    font-size: 18px;
    color: var(--theme-color);
    font-weight: bold;
    letter-spacing: 0.5px;
}

.home h6 {
    font-size: 17px;
}

.home .home-icon-container a {
    text-decoration: none;
}

.home .home-icon-container img {
    width: 37px;
    height: 37px;
}

.home .home-icon-container span {
    margin-left: 3px;
    color: var(--text-dark);
    font-size: 15px;
    letter-spacing: 0.1px;
}

.home .home-container p {
    font-size: 16px;
    font-weight: bold;
}

.home .home-container .card {
    border-radius: 5px;
}

.home .home-container h6 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: var(---text-dark);
}

.home .home-container img {
    width: 29px;
    height: 29px;
    margin-right: 5px;
}

.home .home-container a {
    text-decoration: none;
    color: var(--text-dark);
}

.home .home-container span {
    font-size: 14px;
    letter-spacing: 0.4px;
}

/*---------------- Transfer ----------------*/
.transfer-icon-container img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.transfer-icon-container h6 {
    font-size: 15px;
    font-weight: bold;
}

.transfer span {
    font-size: 15px;
}

.transfer .btn-light {
    background-color: var(--body-color);
}

.transfer i {
    display: inline-block;
    margin-top: 3px;
    font-size: 18px;
}

/*---------------- Transfer  Confirm----------------*/

.transfer-confirm .mb-4 {
    margin-bottom: 40px !important;
}

.transfer-confirm h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 13px;
}

.transfer-confirm .btn-theme {
    margin-top: 30px;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    color: var(--text-white);
    padding: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

/*---------------- Receive Qr----------------*/

.receive-qr h6 {
    font-weight: bold;
}

/*---------------- Scan And Pay ----------------*/

.scan-and-pay img {
    width: 250px;
    height: 250px;
}

.scan-and-pay .btn-theme {
    margin-top: 50px;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    color: var(--text-white);
    padding: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.scan-and-pay .btn-secondary {
    background-color: var(--text-white-pale) !important;
    color: var(--text-dark) !important;
    border: 1px solid var(--text-dark-normal);
}

.scan-and-pay #scanner {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 480px) {
    .scan-and-pay #scanner {
        width: 100%;
        height: 320px;
    }
}

/*---------------- Transaction ----------------*/

.transaction {
    margin-top: 8px;
}

.transaction a {
    text-decoration: none;
    color: var(--text-dark);
}

.transaction .icon-container {
    width: 48px;
    height: 48px;
    background-color: var(--text-dark-pale);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px var(--text-dark-normal);
}

.transaction .down-arrow {
    font-size: 38px;
    color: var(--text-danger);
}

.transaction .up-arrow {
    font-size: 38px;
    color: var(--text-success);
}

.transaction .date {
    color: var(--text-dark-normal);
}

.transaction p {
    font-size: 15px;
}

/*---------------- Transaction  Detail ----------------*/

.transaction-detail-container {
    width: 60px;
    height: 60px;
    background-color: var(--text-success);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px;
    box-shadow: 0px 2px 10px var(--text-success);
}

.transaction-detail-container i {
    font-size: 60px;
    color: var(--text-white);
}

.transaction-detail .card {
    border-radius: 7px;
    background-color: var(--text-dark-pale);
}

.transaction-detail .text-container {
    margin-bottom: 40px;
}

.transaction-detail .large-text {
    font-size: 22px;
}

.transaction-detail .btn-theme {
    margin-top: 20px;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    color: var(--text-white);
    padding: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-bottom: 50px;
}
